body{
    margin: 0px;
    background-color:lightskyblue;
}
.base{
    height: 100px;
     background-color: rgb(54, 54, 114);
    display: flex;
    flex-wrap: wrap;
}
.logo{
width: 100px;

}
.btn_exb{
    width: 100px;
    height: 40px;
    margin-top: 120px;
    margin-left: 20px;
    border-radius: 20px;
    border: none; 
    background-color: rgb(255, 255, 255);
    color: darkblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.exb{
    margin-left: 3px;
    margin-top: 2px;
}
.espaço_pesq{
    width: auto;
    height: 50px;
    background-color:lightskyblue;
}
#pesq{
    height: 40px;
    width: 500px;
    margin-left: 250px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 20px;
    text-indent: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
}
.icones_exibiçao{
    width: auto;
    height: 250px;
    background-color: rgb(54, 54, 114);
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.icones_exibiçao2{
    width: auto;
    height: 250px;
    background-color: rgb(54, 54, 114);
    display: flex;
    flex-wrap: wrap;
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pr{
    height: 250px;
    border: 1px solid darkblue;
    border-radius: 5px;
    margin: 12px;
    cursor: pointer;
}
.pr:hover{
    filter: contrast(80%);
}
.drt{
    height: 30px;
    width: 30px;
    margin-top: 120px;
    margin-left: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
.esq{
    height: 30px;
    width: 30px;
    margin-top: 120px;
    margin-left: 8px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
.drt2,.esq2{
    height: 30px;
    width: 30px;
    margin-top: 120px;
    margin-left: 8px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
.produtos_exb{
    width: auto;
    height: auto;
    background-color:#46afec;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.amostra{
width: 180px;
height: 250px;
margin: 10px;
background-color: white;
border-radius: 20px 20px 5px 20px;
display: flex;
flex-wrap: wrap;
cursor:pointer;
}

.img_amostra{
border-radius: 20px 20px 0px 0px;
    width: 180px;
    height: 185px;
background-color:lightslategray
}
.amostra:hover{
    filter: contrast(70%);
}

.base_amostra{
    width: 200px;
    height: 35px;
    background-color: rgb(20, 20, 27);
    color: white;
   
}
p{
    text-align: center;
    line-height:1px;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    width: 100px;
    background-color: rgb(54, 54, 114);
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    margin-left: 90px;
    margin-top: 5px; color: white;
}
@media  screen and (min-width:300px) {
    .base{
      height: 350px;
      width: 340px;
      background-color: rgb(54, 54, 114);
      margin-bottom: 10px;
    }
      .logo{
      margin-left:100px;
      margin-right: 10px;
      width: 150px;
      height: 150px;
      border-radius: 20px;
      margin-top: 20px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 130px;
        font-size: 14px;
        font-weight: bold;
        margin-left: 20px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 320px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width:340px;
  }
  .pr{
      height: 140px;
      margin:auto;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 50px;
      width: 30px;
      margin-left: 10px;
      margin-top: 60px;
      cursor: pointer;
  }
  .drt,.drt2{
      height: 50px;
      width: 30px;
      margin-top: 60px;
      margin-left: 15px;
      cursor: pointer;
  } 

  .exb{
      width: 335px;
      margin-left: 5px;
  }
  .amostra{
      margin: auto;
      margin-bottom: 20px;
      margin-top: 20px;
  }
  .produtos_exb{
    width: 340px;
  }
  
  }
  
  @media  screen and (min-width:410px) {
    .base{
       height: 40px;
      width: 410px;
    }
      .logo{
      margin-left: 120px;
      margin-right: 50px;
      margin-top: 20px;
      width: 180px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 140px;
        font-size: 14px;
        padding: 4px;
        margin-left: 40px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 375px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 410px;
      padding: 15px;
  }
  .pr{
      height: 170px;
      width: 150px;
      margin:auto;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 50px;
      width: 50px;
      margin-left: 0px;
      margin-top: 60px;
  }
  .drt,.drt2{
      height: 50px;
      width: 50px;
      margin-left: 10px;
      margin-top: 60px;
  }
  .exb{
      width: 385px;
      margin-left: 5px;
  }
  .amostra{
      margin-left: 100px;
  }
  
  .produtos_exb{
    width: 410px;
    background-color: rgb(54, 54, 114);
  }

  }
 @media  screen and (min-width:420px) {
    .base{
       height: 350px;
      width: 450px;
    }
      .logo{
      margin-left: 120px;
      margin-right: 50px;
      margin-top: 20px;
      width: 180px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 140px;
        font-size: 14px;
        padding: 4px;
        margin-left: 40px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 375px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 410px;
      padding: 15px;
  }
  .pr{
      height: 170px;
      width: 150px;
      margin:auto;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 50px;
      width: 50px;
      margin-left: 0px;
      margin-top: 60px;
  }
  .drt,.drt2{
      height: 50px;
      width: 50px;
      margin-left: 10px;
      margin-top: 60px;
  }
  .exb{
      width: 405px;
      margin-left: 5px;
  }
  .amostra{
      margin-left: 100px;
  }
  
  .produtos_exb{
    width: 410px;
    background-color: rgb(54, 54, 114);
  }

  }
 @media  screen and (min-width:430px) {
    .base{
       height: 350px;
      width: 440px;
    }
      .logo{
      margin-left: 120px;
      margin-right: 50px;
      margin-top: 20px;
      width: 180px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 140px;
        font-size: 14px;
        padding: 4px;
        margin-left: 40px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 375px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 410px;
      padding: 15px;
  }
  .pr{
      height: 170px;
      width: 150px;
      margin:auto;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 50px;
      width: 50px;
      margin-left: 0px;
      margin-top: 60px;
  }
  .drt,.drt2{
      height: 50px;
      width: 50px;
      margin-left: 10px;
      margin-top: 60px;
  }
  .exb{
      width: 415px;
      margin-left: 5px;
  }
  .amostra{
      margin-left: 120px;
  }
  
  .produtos_exb{
    width: 410px;
    background-color: rgb(54, 54, 114);
  }

  }
   @media  screen and (min-width:440px) {
    .base{
       height: 350px;
      width: 440px;
    }
      .logo{
      margin-left: 120px;
      margin-right: 50px;
      margin-top: 20px;
      width: 180px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 140px;
        font-size: 14px;
        padding: 4px;
        margin-left: 40px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 375px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 410px;
      padding: 15px;
  }
  .pr{
      height: 170px;
      width: 150px;
      margin:auto;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 50px;
      width: 50px;
      margin-left: 0px;
      margin-top: 60px;
  }
  .drt,.drt2{
      height: 50px;
      width: 50px;
      margin-left: 10px;
      margin-top: 60px;
  }
  .exb{
      width: 415px;
      margin-left: 5px;
  }
  .amostra{
      margin-left: 120px;
  }
  
  .produtos_exb{
    width: 440px;
    background-color: rgb(54, 54, 114);
  }

  }

   @media  screen and (min-width:460px) {
    .base{
       height: 350px;
      width: 460px;
    }
    
      .logo{
      margin-left: 130px;
      margin-right: 50px;
      margin-top: 20px;
      width: 180px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 160px;
        height: 40px;
        font-size: 16px;
        padding: 4px;
        margin-left: 40px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 405px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 410px;
      padding: 15px;
  }
  .pr{
      height: 170px;
      width: 150px;
      margin:auto;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 50px;
      width: 50px;
      margin-left: 0px;
      margin-top: 60px;
  }
  .drt,.drt2{
      height: 50px;
      width: 50px;
      margin-left: 10px;
      margin-top: 60px;
  }
  .exb{
      width: 425px;
      margin-left: 5px;
  }
  .amostra{
      margin-left: 120px;
  }
  
  .produtos_exb{
    width: 460px;
    background-color: rgb(54, 54, 114);
  }

  }

    @media  screen and (min-width:480px) {
    .base{
       height: 350px;
      width: 480px;
    }
    
      .logo{
      margin-left: 180px;
      margin-right: 50px;
      margin-top: 20px;
      width: 180px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 170px;
        height: 40px;
        font-size: 16px;
        padding: 4px;
        margin-left: 60px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 40px;
      width: 425px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 480px;
      padding: 15px;
  }
  .pr{
      height: 170px;
      width: 150px;
      margin:auto;
      margin-top: 10px;
      margin-left: 30px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 50px;
      width: 50px;
      margin-left: 30px;
      margin-top: 60px;
  }
  .drt,.drt2{
      height: 50px;
      width: 50px;
      margin-left: 30px;
      margin-top: 60px;
  }
  .exb{
      width: 437px;
      margin-left: 35px;
  }
  .amostra{
      margin-left: 170px;
  }
  
  .produtos_exb{
    width: 480px;
    background-color: rgb(54, 54, 114);
  }

  }
  
@media  screen and (min-width:500px) {
    .base{
       height: 350px;
      width: 520px;
    }
    
      .logo{
      margin-left: 150px;
      margin-right: 50px;
      margin-top: 20px;
      width: 180px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 170px;
        height: 40px;
        font-size: 17px;
        padding: 4px;
        margin-left: 40px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 425px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 480px;
      padding: 15px;
  }
  .pr{
      height: 170px;
      width: 130px;
      margin:auto;
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 60px;
      width: 40px;
      margin-left: 10px;
      margin-top: 60px;
  }
  .drt,.drt2{
      height: 60px;
      width: 40px;
      margin-left: 10px;
      margin-top: 30px;
  }
  .exb{
      width: 437px;
      margin-left: 6px;
  }
  .amostra{
      margin-left: 150px;
  }
  
  .produtos_exb{
    width: 480px;
    background-color: rgb(54, 54, 114);
  }

  }


@media  screen and (min-width:540px) {
    .base{
       height: 350px;
      width: 550px;
    }
    
      .logo{
      margin-left: 200px;
      margin-right: 50px;
      margin-top: 20px;
      width: 180px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 170px;
        height: 40px;
        font-size: 17px;
        padding: 4px;
        margin-left: 80px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 525px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 520px;
      padding: 15px;
  }
  .pr{
      height: 170px;
      width: 130px;
      margin:auto;
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 60px;
      width: 40px;
      margin-left: 10px;
      margin-top: 60px;
  }
  .drt,.drt2{
      height: 60px;
      width: 40px;
      margin-left: 10px;
      margin-top: 30px;
  }
  .exb{
      width: 537px;
      margin-left: 6px;
  }
  .amostra{
      margin-left: 50px;
  }
  
  .produtos_exb{
    width: 550px;
    background-color: rgb(54, 54, 114);
  }

  }

@media  screen and (min-width:600px) {
    .base{
       height: 350px;
      width: 620px;
    }
    
      .logo{
      margin-left: 220px;
      margin-right: 90px;
      margin-top: 20px;
      width: 180px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 190px;
        height: 40px;
        font-size: 17px;
        padding: 4px;
        margin-left: 90px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 590px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 590px;
      padding: 15px;
  }
  .pr{
      height: 230px;
      width: 140px;
      margin:auto;
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 90px;
      width: 40px;
      margin-left: 10px;
      margin-top: 80px;
  }
  .drt,.drt2{
      height: 90px;
      width: 40px;
      margin-left: 30px;
      margin-top: 80px;
  }
  .exb{
      width: 610px;
      margin-left: 6px;
  }
  .amostra{
      margin-left: 10px;
  }
  
  .produtos_exb{
    width: 620px;
    background-color: rgb(54, 54, 114);
  }

  }

@media  screen and (min-width:700px) {
    .base{
       height: 350px;
      width: 620px;
    }
    
      .logo{
      margin-left: 240px;
      margin-right: 50px;
      margin-top: 20px;
      width: 180px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 240px;
        height: 40px;
        font-size: 19px;
        padding: 4px;
        margin-left: 50px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 600px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 590px;
      padding: 15px;
  }
  .pr{
      height: 190px;
      width: 150px;
      margin:auto;
      margin-top: 10px;
      margin-left: 22px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 60px;
      width: 40px;
      margin-left: 10px;
      margin-top: 60px;
  }
  .drt,.drt2{
      height: 60px;
      width: 40px;
      margin-left: 10px;
      margin-top: 60px;
  }
  .exb{
      width: 600px;
      margin-left: 6px;
  }
  .amostra{
      margin-left: 70px;
  }
  
  .produtos_exb{
    width:620px;
    background-color: rgb(54, 54, 114);
  }
 

  }


@media  screen and (min-width:800px) {
    .base{
       height: 350px;
      width: 710px;
    }
    
      .logo{
      margin-left: 290px;
      margin-right: 50px;
      margin-top: 20px;
      width: 190px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 240px;
        height: 40px;
        font-size: 19px;
        padding: 4px;
        margin-left: 90px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 670px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 700px;
      padding: 15px;
  }
  .pr{
      height: 190px;
      width: 150px;
      margin:auto;
      margin-top: 10px;
      margin-left: 22px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 60px;
      width: 40px;
      margin-left: 10px;
      margin-top: 60px;
  }
  .drt,.drt2{
      height: 60px;
      width: 40px;
      margin-left: 10px;
      margin-top: 60px;
  }
  .exb{
      width: 690px;
      margin-left: 6px;
  }
  .amostra{
      margin-left: 30px;
  }
  
  .produtos_exb{
    width:720px;
    background-color: rgb(54, 54, 114);
  }
 

  }


@media  screen and (min-width:1024px) {
    .base{
       height: 350px;
      width: 1000px;
    }
    
      .logo{
      margin-left: 390px;
      margin-right: 220px;
      margin-top: 20px;
      width: 190px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 180px;
        height: 40px;
        font-size: 17px;
        padding: 4px;
        margin-left: 55px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 880px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 920px;
      padding: 15px;
  }
  .pr{
      height: 240px;
      width: 130px;
      margin:auto;
      margin-top: 10px;
      margin-left: 22px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 80px;
      width: 40px;
      margin-left: 50px;
      margin-top: 100px;
  }
  .drt,.drt2{
      height: 80px;
      width: 40px;
      margin-left: 20px;
      margin-top: 100px;
  }
  .exb{
      width: 890px;
      margin-left: 56px;
  }
  .amostra{
      margin-left: 50px;
  }
  
  .produtos_exb{
    width:950px;
    background-color: rgb(54, 54, 114);
  }
 
}
@media  screen and (min-width:1280px) {
   .base{
       height: 300px;
      width: 1290px;
    }
    
      .logo{
      margin-left: 530px;
      margin-right: 340px;
      margin-top: 20px;
      width: 190px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 220px;
        height: 40px;
        font-size: 19px;
        padding: 4px;
        margin-left: 50px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 10px;
      width: 1100px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 1100px;
      padding: 15px;
  }
  .pr{
      height: 260px;
      width: 170px;
      margin:auto;
      margin-top: 10px;
      margin-left: 22px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 80px;
      width: 40px;
      margin-left: 10px;
      margin-top: 100px;
  }
  .drt,.drt2{
      height: 80px;
      width: 40px;
      margin-left: 20px;
      margin-top: 100px;
  }
  .exb{
      width: 1120px;
      margin-left: 6px;
  }
  .amostra{
      margin-left: 30px;
  }
  
  .produtos_exb{
    width:1130px;
    background-color: rgb(54, 54, 114);
  }
}
@media  screen and (min-width:1500px) {
     .base{
       height: 300px;
      width: 1400px;
    }
    
      .logo{
      margin-left: 650px;
      margin-right: 340px;
      margin-top: 20px;
      width: 190px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 220px;
        height: 40px;
        font-size: 19px;
        padding: 4px;
        margin-left: 110px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 100px;
      width: 1250px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 1360px;
      padding: 15px;
  }
  .pr{
      height: 260px;
      width: 200px;
      margin:auto;
      margin-top: 10px;
      margin-left: 22px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 110px;
      width: 40px;
      margin-left: 110px;
      margin-top: 100px;
  }
  .drt,.drt2{
      height: 110px;
      width: 40px;
      margin-left: 20px;
      margin-top: 100px;
  }
  .exb{
      width: 1290px;
      margin-left: 90px;
  }
  .amostra{
      margin-left: 90px;
  }
  
  .produtos_exb{
    width:1388px;
    background-color: rgb(54, 54, 114);
  }
}
@media  screen and (min-width:1600px) {
     .base{
       height: 300px;
      width: 1500px;
    }
    
      .logo{
      margin-left: 800px;
      margin-right: 340px;
      margin-top: 20px;
      width: 190px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 220px;
        height: 40px;
        font-size: 19px;
        padding: 4px;
        margin-left: 140px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 100px;
      width: 1350px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 1450px;
      padding: 15px;
  }
  .pr{
      height: 260px;
      width: 200px;
      margin:auto;
      margin-top: 10px;
      margin-left: 22px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 110px;
      width: 40px;
      margin-left: 190px;
      margin-top: 100px;
  }
  .drt,.drt2{
      height: 110px;
      width: 40px;
      margin-left: 20px;
      margin-top: 100px;
  }
  .exb{
      width: 1380px;
      margin-left: 90px;
  }
  .amostra{
      margin-left: 90px;
  }
  
  .produtos_exb{
    width:1488px;
    background-color: rgb(54, 54, 114);
  }

   
}
@media  screen and (min-width:1700px) {
        .base{
       height: 300px;
      width: 1600px;
    }
    
      .logo{
      margin-left: 800px;
      margin-right: 340px;
      margin-top: 20px;
      width: 190px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 220px;
        height: 40px;
        font-size: 19px;
        padding: 4px;
        margin-left: 140px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 100px;
      width: 1430px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 1550px;
      padding: 15px;
  }
  .pr{
      height: 260px;
      width: 200px;
      margin:auto;
      margin-top: 10px;
      margin-left: 22px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 110px;
      width: 40px;
      margin-left: 220px;
      margin-top: 100px;
  }
  .drt,.drt2{
      height: 110px;
      width: 40px;
      margin-left: 20px;
      margin-top: 100px;
  }
  .exb{
      width: 1480px;
      margin-left: 90px;
  }
  .amostra{
      margin-left: 90px;
  }
  
  .produtos_exb{
    width:1560px;
    background-color: rgb(54, 54, 114);
  }

  
   

}
@media  screen and (min-width:1800px) {
       .base{
      width: 2320px;
    }
    
      .logo{
        margin-left: 1100px;
        margin-right:400;
      margin-top: 50px;
      width: 190px;
      height: 180px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 200px;
        height: 40px;
        font-size: 19px;
        padding: 4px;
       margin-left: 500px;
       display: none;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 340px;
      width: 1550px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 2270px;
      padding: 15px;
  }
  .pr{
      height: 260px;
      width: 200px;
      margin:auto;
      margin-top: 10px;
      margin-left: 72px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 110px;
      width: 40px;
      margin-left: 260px;
      margin-top: 100px;
  }
  .drt,.drt2{
      height: 110px;
      width: 40px;
      margin-left: 50px;
      margin-top: 100px;
  }
  .exb{
      width: 1550px;
      margin-left: 340px;
  }
  .amostra{
      margin-left: 20px;
  }
  
  .produtos_exb{
    width:2299px;
    margin-bottom: 20px;
    background-color: rgb(54, 54, 114);
  }

 
  

}

@media  screen and (min-width:2550px) {
       .base{
      width: 2310px;
    display:flex;
    flex-wrap: wrap;
    }
    
      .logo{
      margin-top: 30px;
      width: 190px;
      height: 180px;
      margin-left: 1500px;
      margin-right: 1000px;
    }
    .btn_exb{
        margin-top: 0px;
        width: 250px;
        height: 40px;
        font-size: 19px;
        padding: 4px;
    margin-left: 200px;
    }
      #pesq{
      margin-top: 5px;
      margin-left: 400px;
      width: 1530px;
    }
  
  .icones_exibiçao,.icones_exibiçao2{
      height: auto;
      width: 2280px;
      padding: 15px;
  }
  .pr{
      height: 260px;
      width: 200px;
      margin:auto;
      margin-top: 10px;
      margin-left: 22px;
      margin-right: 0px;
  }
  .esq,.esq2{
      height: 110px;
      width: 40px;
      margin-left: 520px;
      margin-top: 100px;
  }
  .drt,.drt2{
      height: 110px;
      width: 40px;
      margin-left: 20px;
      margin-top: 100px;
  }
  .exb{
      width: 1550px;
      margin-left: 390px;
  }
  .amostra{
      margin-left: 40px;
  }
  
  .produtos_exb{
    width:2320px;
    background-color: rgb(54, 54, 114);
  }

 
  

}
